 @import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap'); 
*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    } 
body{
    background: white;
    overflow-x: hidden;

}
header{
   
background-color: #284b77;
    height: 200px;
    position: relative;
    top: 0 ;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   border-color: gray;
  
    z-index: 1000;
}
#header .logo{

    color: black;
    font-weight: 700;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
 
}
#header .navigation{

    display: flex;
    justify-content: center;
    align-items: center;
}
#header .navigation li{

    list-style: none;
    margin-left: 20px;
    margin-top: 1px;

}
#header .navigation li a{

    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}
#header .navigation li a:hover{
    background: black;
    color: gold;

}

section{
position: relative;
 width: 100%;
height: 100vh;
padding: 100px;
} 

#homs {
position: absolute;
top: 75%;
right: 100%;
opacity: 100%;
transition: 0s;
transform: translateY(-75%);
width: 100%;
height: 100%;
object-fit: scale-down;
pointer-events: none;

}
.container .textar{

    margin-left: 250px;
}
.container .texten{

    margin-right: 250px;
}
.textar {
    position: relative;
    display: flex;
    font-size: larger;
    padding: 39px;
     direction: rtl;
     color: black;
     background-color: 
    white; border-radius: 30px;

}.texten {
    position: relative;
    display: flex;
    font-size: larger;
    padding: 39px;
     direction: ltr;
     color: black;
     background-color: 
    white; border-radius: 30px;

 
}
@media (max-width: 992px){
#header {
    padding: 20px;
}
#header .logo{
    font-size: 1.5em;
}
#header .navigation{
    display: none;
}
#header .navigation.active{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    
    width: 100%;
    height: 100vh;
    background: #284b77;
    justify-content: center;
    align-items: center;
    
}
#header .navigation li{
    margin-left: 0;
}
#header .navigation li a{
    font-size: 1.2em;
    margin: 5px 0;
    border-radius: 30px;
    display: inline-block;
}
.toggle{

    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: url(menu.png);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1000;
}
.toggle.active{
    position: fixed;
    top: 20px;
    right: 20px;
    background: url(close.png);
    background-size: 35px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1000;

}
.textar{

    font-size: 1.2em;
    padding: 20px;
}
section{

    padding: 40px;
}
.container{
    margin-left: 0;
   
}
}